{% extends 'base-with-menu.html.twig' %}

{% block content %}

    <h3>Click <a href="{{ path('app_default_simulateall') }}">this link</a> to simulate all available transfers</h3>
    <h3>Click <a href="{{ path('app_default_sync') }}">this link</a> sync all sent transfers from TransferWise to
        SmartAccounts</h3>
{% endblock %}