{% extends 'base-with-menu.html.twig' %}

{% block title %}Edit SyncRecord{% endblock %}

{% block content %}
    <h1>Edit SyncRecord <a class="btn" href="{{ path('sync_record_index') }}">back to list</a></h1>

    {{ include('sync_record/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('sync_record/_delete_form.html.twig') }}
{% endblock %}
